        <footer class="footer mt-auto py-3 bg-dark text-center">
            <div class="container">
            <span class="text-muted">&copy; Hiring App 2022</span>
            </div>
        </footer>
    </body>
</html>