<%- include('partials/header') %>
<h1 class="text-center mt-2">New developer</h1>
<hr>
<form action="/addDeveloper" method="post">
    <div class="form-group col-auto my-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <label for="name">Your name *</label>
                    <input type="text" name="developerName" id="name" class="form-control" placeholder="Your name" required>
                    <br />
                    <label for="email">Email *</label>
                    <input type="email" name="developerEmail" id="email" class="form-control" placeholder="Email" required>
                    <br />
                    <label for="phone">Phone number *</label>
                    <input type="tel" name="developerPhone" id="phone" class="form-control" placeholder="+00000-000-0000" pattern="\+[0-9]{4,5}-[0-9]{3}-[0-9]{3,4}" required>
                    <br />
                    <label for="location">Your Location *</label>
                    <input type="text" name="developerLocation" id="location" class="form-control" placeholder="Location" required>
                    <br />
                    <label for="profilePicture">Profile picture</label>
                    <input type="url" name="developerImageUrl" id="profilePicture" class="form-control-file" aria-describedby="pfphelp" pattern="https://.*">
                    <small id="pfphelp" class="form-text text-muted">Must be https:// url!</small>
                    <br />
                    <label for="pph">Price per Hour *</label>
                    <input type="number" min="0" name="developerPph" id="pph" class="form-control" placeholder="Price per Hour" required>
                    <!-- price per hour currency -->
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="euro" value="euro" name="currency" required>
                        <label class="form-check-label" for="euro">€</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="dollar" value="dollar" name="currency" required>
                        <label class="form-check-label" for="dollar">$</label>
                    </div>
                    <!-- /price per hour currency -->
                    <br />
                    <label for="desc">Description</label>
                    <textarea class="form-control" name="developerDescription" id="desc" rows="3" placeholder="Description"></textarea>
                    <br />
                    <label for="yoe">Years of experience *</label>
                    <input type="number" min="0" name="developerYoe" id="yoe" class="form-control" placeholder="Years of experience" required>
                    <br />
                    <div>
                        <label for="nativeLanguage">Native language *</label>
                        <select class="custom-select mr-sm-2" id="nativeLanguage" name="developerNativeLanguage" required>
                            <option value="english">English</option>
                            <option value="serbian">Serbian</option>
                            <option value="bulgarian">Bulgarian</option>
                        </select>
                    </div>
                    <br />
                    <label for="linkedin">LinkedIn Profile</label>
                    <input type="url" name="developerLinkedIn" id="linkedin" class="form-control mb-3" placeholder="https://www.linkedin.com/in/example" pattern="https://www.linkedin.com/in/.*">
                    <small class="req-fields-info">Fields tagged with * must be filled!</small>
                    <br>
                    <button type="submit" class="btn btn-primary mt-3 mb-5">Submit</button>
                </div>
                
            </div>
        </div>
    </div>
        
        
</form>

<%- include('partials/footer') %>